version: "3.9"

services:
  web:
    build: .
    container_name: pedidos_api
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  db:
    image: mysql:8.0
    container_name: pedidos_db
    environment:
      MYSQL_DATABASE: pedidos
      MYSQL_USER: admin
      MYSQL_PASSWORD: 010101
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d

  redis:
    image: redis:7.0
    container_name: pedidos_redis
    ports:
      - "6379:6379"

volumes:
  db_data:
  
